.footer {
    text-align: center;
    padding: 10px;

    // top: 100%;
    z-index: 999;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);

    border: 2px solid #fff;

    .img {
        width: 200px;
        // height: 30px;
    }
}